@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
@import "./components/image/image_gallery.css";
@import "./components/heading/heading.css";
@import "./components/loading/loading.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  perspective: 5000px;
}
